---
layout: default
home: true
---

<div class="home">
    <ul class="post-list">
        {% if site.pagination %}
        {% assign source = paginator.posts %}
        {% else %}
        {% assign source = site.posts %}
        {% endif %}

        {% for post in source reversed %}
        <li itemid="{{ site.siteurl }}{{ post.url | remove: 'index.html' }}" itemscope itemtype="http://schema.org/BlogPosting">
            <a itemprop="url" href="{{ site.siteurl }}{{ post.url | remove: 'index.html' }}" class="post-list-link">
                <div class="post-list-info">
                    <h2 itemprop="headline" class="post-list-title">{{ post.title }}</h2>
                    <span class="post-list-meta">{{ post.date | date: "%B %-d, %Y" }}</span>
                    <meta itemprop="datePublished" content="{{ post.date | date: "%Y-%m-%d" }}">
                </div>
            </a>
            {% if post.thumb %}
            <img itemprop="thumbnailUrl" src="{{ post.thumb }}" class="post-list-thumb" />
            <meta itemprop="image" content="{{ post.thumb }}"/>{% endif %}
            {% for image in post.backgrounds %}<meta itemprop="image" content="{{ image }}" />{% endfor %}
        </li>
        {% endfor %}
    </ul>

    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p> -->
    <!-- <p class="rss-subscribe">
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
            Subscribe via RSS
            <i class="icon ion-social-rss"></i>
        </a>
    </p> -->
</div>
