<!DOCTYPE html>
<html {% if site.lang %} lang="{{ site.lang }}" xml:lang="{{ site.lang }}" xmlns="http://www.w3.org/1999/xhtml" {% endif %}>

{% include head.html %}

<body>

    {% include loader.html %}

    <main id="sb-site">

        <div class="container">
            <div class="wrapper">
                {{ content }}
            </div>

            {% include pagination.html %}

            {% include next.html %}

        </div>

    </main>

    {% include sidebar.html %}

    {% include js.html %}

    {% include analytics.html %}

</body>

</html>
