---
layout: default
---
<div class="post" itemid="{{ page.url | prepend: site.siteurl }}" itemscope itemtype="https://schema.org/BlogPosting">
    <meta itemprop="datePublished" content="{{ page.date | date: "%Y-%m-%d" }}">
    {% if page.thumb %}<meta itemprop="image" content="{{ page.thumb }}"/>{% endif %}
    {% for image in page.backgrounds %}<meta itemprop="image" content="{{ image }}" />{% endfor %}
    {% if page.reading_time %}
    <p class="post-reading-time">&#126;
        {% capture words %}
          {{ content | number_of_words | minus: 180 }}
        {% endcapture %}
        {% unless words contains "-" %}
          {{ words | plus: 180 | divided_by: 180 | append: " min" }}
        {% endunless %}
    </p>
    {% endif %}

    <header class="post-header">
        {% if page.thumb %}
        <img itemprop="thumbnailUrl" src="{{ page.thumb }}" alt="{{ page.title }}" class="post-thumb" />
        {% endif %}

        <h1 itemprop="headline" class="post-title">{{ page.title }}</h1>
    </header>

    <article class="post-content">
        <meta itemprop="agent" >
        {% if page.google_map %}
        <iframe src="{{ page.google_map }}" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        {% endif %}
        {{ content }}
        {% if page.travel %}
        <div style="display: none;" hidden itemscope itemtype="https://schema.org/TravelAction">
            <span itemprop="agent" itemscope itemtype="https://schema.org/Organization">
                <meta itemprop="name" content="{{ site.author }}"/>
            </span>
            <span itemprop="fromLocation" itemscope itemtype="https://schema.org/Place">
                <meta itemprop="name" content="{{ page.travel.from }}" />
            </span>
            <span itemprop="toLocation" itemscope itemtype="https://schema.org/Place">
                <meta itemprop="name" content="{{ page.travel.to }}" />
            </span>
            <meta itemprop="distance" content="{{ page.travel.distance }}" />
            {% if page.travel.instrument_type %}
            <meta itemprop="instrument" itemscope itemtype="{{ page.travel.instrument_type }}" content="{{ page.travel.instrument_type }}" />
            {% elsif site.travel.instrument_type %}
            <meta itemprop="instrument" itemscope itemtype="{{ site.travel.instrument_type }}" content="{{ site.travel.instrument_type }}" />
            {% endif %}
        </div>
        {% endif %}
    </article>
	<ins class="adsbygoogle"
		 style="display:block"
		 data-ad-client="ca-pub-6645306650330409"
		 data-ad-slot="9049927599"
		 data-ad-format="auto"></ins>
	<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
    <footer class="post-meta">
        {% if page.date %}
        <div class="meta">
            <h3 class="meta-title">Date</h3>
            <span class="meta-content">{{ page.date | date: "%B %-d, %Y" }}</span>
        </div>
        {% endif %}
        {% if page.author or site.author %}
        <div class="meta">
            <h3 class="meta-title">Author</h3>
            <span propitem="author" class="meta-content" rel="author">
            {% if page.author %}
                <span itemscope itemtype="https://schema.org/Person">
                    <span itemprop="name">
                        {{ page.author }}
                    </span>
                </span>
            {% else %}
                <span itemscope itemtype="https://schema.org/Organization">
                    <span itemprop="name">
                        {{ site.author }}
                    </span>
                </span>
            {% endif %}</span>
        </div>
        {% endif %}
        {% if page.show_categories %}
        <div class="meta">
            <h3 class="meta-title">Categories</h3>
            <span class="meta-content">
                {% for category in page.categories %}
                    {{ category | capitalize }}&nbsp;
                {% endfor %}
            </span>
        </div>
        {% endif %}
        {% if page.show_tags %}
        <div class="meta">
            <h3 class="meta-title">Tags</h3>
            <span itemprop="keywords" class="meta-content">
                {% for tag in page.tags %}
                    {{ tag | capitalize }}&nbsp;
                {% endfor %}
            </span>
        </div>
        {% endif %}
    </footer>

    {% include share.html %}

    {% include disqus.html %}

</div>
